body{
    margin: 0;
    box-sizing: border-box; 
    background-color:#edf2f4
}

#header{
    display:flex;
    justify-content:space-between;
    align-items:center ;
    background-color: #8d99ae;
    height: 15vh;
}

#logo{
    font-family: 'Dongle', sans-serif;
    font-size:60px;
    margin-left:6vw;
}



#info{
    display: flex;
    align-items:center ;
    font-family: 'Abel';
}


#info div{
    margin-right:5vw;
    font-size:20px;
    font-weight:600;
}

#search{
    padding-left:14vw;
    padding-top:15vh;

}

#search input{
    border: 1px solid #8d99ae;
    padding-left:1vw;
    border-radius: 5px;
    width: 65vh;
    height: 7vh;
    margin-right:30px;
}


#search-butt{
    border: 1px solid black;
    background-color: #8d99ae;
    border-radius: 8px;
    padding:5px 20px;
    font-family: 'Dongle', sans-serif;
    font-size:25px;
    font-weight:700;
}