/* used for home page and profile */

body{
    margin: 0;
    box-sizing: border-box; 
    background-color:#e2eef4;
}

#header{
    display:flex;
    justify-content:space-between;
    align-items:center ;
    background-color: #3D405B;
    height: 15vh;   
    position: relative;
    }

#logo{
    color:white;
    font-family: 'Dongle', sans-serif;
    font-size:60px;
    margin-left:6vw;
}

#info{
    color:white;
    display: flex;
    align-items:center ;
    font-family: 'Abel';
}


#info div{
    margin-right:4vw;
    font-size:20px;
    font-weight:600;
}

#jobpost{
    display:flex;
    align-items: center;
}

#jobpost i{
    margin-right:4px;
}


#search{
    padding-left:10vw;
    padding-top:15vh;

}

#search input{
    border: 1px solid #8d99ae;
    padding-left:1vw;
    border-radius: 5px;
    width: 70vh;
    height: 8vh;
    margin-right:30px;
}



#search-butt{
    display:inline;
    border: 1px solid black;
    background-color: #8d99ae;
    border-radius: 8px;
    padding:12px 20px;
}

#search-butt p, #filter-butt p{
    font-size:27px;
    font-weight:700;
    font-family: 'Dongle', sans-serif;
    margin:0;
    display:inline;
    width:0px;
    margin:0px;
}

#filters{
    display:flex;
    justify-content: space-evenly;
    margin:40px;
}

.filter{
    font-family: 'Abel';
    font-weight: 800;
    font-size: 18px;
    color:#3D405B;

}

select{
    padding:10px;
    border-radius:3px;
    background-color: #8d99ae;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

#filter-butt{
    text-align: center;
    font-family: 'Dongle', sans-serif;   
    background-color: #3D405B;
    color:white;
    border-radius: 8px;
    width:9vw;
    padding: 5px 5px;
    margin:auto;

}

#left-info{
    width:24%;
    float:left;
    display: flex;
    height:100%;
    position: fixed;
    flex-direction: column;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

.tab{
    display:flex ;
    justify-content: center;
    align-items:center ;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 19px;
    margin-top: 55px;
}

.tab i{
    margin-right:12px;
}


#profile-info{
    text-align: center;
    font-family: 'Lato', sans-serif;
}   


#profile-title{
    font-family: 'Dongle';
    font-size:4vw;
    margin-left:26vw;
}

.profile-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border: none;
    border-radius: 4px;
    margin: auto;
    margin-bottom:30px;
    margin-left:32vw;
    padding:20px 0px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}
.profile-section input{
    padding-left:5px;
    width:20vw;
    height:5vh;
}

.profile-section label{
    padding-top: 15px 0px;
}

#posting {
    color: #8D99AE;
    font-family: Abel;
    font-size: 1.5em;
    margin: 3em;
    float: left;
    width: 40%;
    border: dashed 2px rgb(29, 29, 83);
    text-align: center;
}

#posting p {
    margin-bottom: 0px;
}