/* 
CSC 337 CHIU YEH CHEN
this file contains the css needed for the index.html.
*/

.font-loader {
    font-family: 'Abel';
}

/* Index page heder */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 87%;
    background-color: #3D405B;
    /* Website title and logo */
    /* Services */
    /* Contact us --> forum */
}

#left_content{
    position: fixed;
    top: 20%;
    left: 0;
    right: 50%;
    bottom: 0;
    background-color: #9acc93;
}

.button{
    margin: 30px;
}

#right_content{
    position: fixed;
    top: 20%;
    left: 50%;
    right: 0;
    bottom: 0;
    background-color: #e9ba56;
    overflow-y: scroll;
}

.product{
    border: solid;
    border-color: rgb(226, 245, 54);
}

#post_content{
    background-color: #EDF2F4;
}

#post_body{
    background-color: #EDF2F4;
}

/* The Index body */
/* #index_body{
    background-color: #EDF2F4;
} */

/* Main content of Index page */
#index_content{
    position: fixed;
    text-align: center;
    font-family: 'Abel';
    font-weight: bolder;
    bottom: 40%;
    background-color: #e2eff4;
}

#logIn {
    top: 20%;
    right: 20%;
    position: fixed;
}

#createAccount {
    top: 20%;
    left: 20%;
    position: fixed;
}